---
title: Pandas groupby
author: Tom
date: "2023-12-23"
toc: true  # 是否开启文章目录
toc-depth: 2 # 目录层级深度，默认3级目录
code-block-bg: true  # 代码块背景颜色
highlight-style: atom-one  # 代码块语法高亮风格
categories: [数据分析]
code-fold: false  # 代码块是否折叠
cold-line-numbers: true # 代码块是否显示行数
code-copy: true # true/false/hover
draft: true  # 博文是否为草稿，草稿不显示在博客中
html-math-method: katex # latex 引擎，默认是 MathJax
jupyter: python3
---

In [1]:
import pandas as pd

In [2]:
dtypes = {
    'first_name': 'category',
    'gender': 'category',
    'type': 'category',
    'state': 'category',
    'party': 'category',
}

df = pd.read_csv('./data/legislators-historical.csv',
                 dtype=dtypes, 
                 usecols=list(dtypes) + ['birthday', 'last_name'],
                 parse_dates=['birthday'])

In [3]:
df

      last_name  first_name   birthday gender type state                party
0       Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1         Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2         Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3       Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4        Clymer      George 1739-03-16      M  rep    PA                  NaN
...         ...         ...        ...    ...  ...   ...                  ...
11970   Garrett      Thomas 1972-03-27      M  rep    VA           Republican
11971    Handel       Karen 1962-04-18      F  rep    GA           Republican
11972     Jones      Brenda 1959-10-24      F  rep    MI             Democrat
11973    Marino         Tom 1952-08-15      M  rep    PA           Republican
11974     Jones      Walter 1943-02-10      M  rep    NC           Republican

[11975 rows x 7 columns]

In [5]:
n_by_state = df.groupby('state')['last_name'].count()

In [6]:
n_by_state

state
AK      16
AL     206
AR     117
AS       2
AZ      48
CA     361
CO      90
CT     240
DC       2
DE      97
DK       9
FL     155
GA     309
GU       4
HI      23
IA     202
ID      59
IL     486
IN     341
KS     141
KY     373
LA     197
MA     426
MD     305
ME     175
MI     294
MN     160
MO     333
MS     155
MT      52
NC     354
ND      44
NE     127
NH     181
NJ     359
NM      54
NV      56
NY    1461
OH     674
OK      92
OL       2
OR      89
PA    1053
PI      13
PR      19
RI     107
SC     251
SD      51
TN     299
TX     256
UT      53
VA     432
VI       4
VT     115
WA      95
WI     196
WV     120
WY      40
Name: last_name, dtype: int64

In [7]:
df.groupby(['state', 'gender'])['last_name'].count()

state  gender
AK     F           0
       M          16
AL     F           3
       M         203
AR     F           5
                ...
WI     M         196
WV     F           1
       M         119
WY     F           2
       M          38
Name: last_name, Length: 116, dtype: int64

In [8]:
df.groupby(['gender', 'state'])['last_name'].count()

gender  state
F       AK         0
        AL         3
        AR         5
        AS         0
        AZ         3
                ...
M       VT       115
        WA        90
        WI       196
        WV       119
        WY        38
Name: last_name, Length: 116, dtype: int64

In [9]:
by_state = df.groupby('state')
by_state

In [10]:
for state, frame in by_state:
    print(f'First2 entries for {state!r}')
    print('----------------------')
    print(frame.head(2), end='\n\n')

First2 entries for 'AK'
----------------------
     last_name first_name   birthday gender type state        party
6619    Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6647      Cale     Thomas 1848-09-17      M  rep    AK  Independent

First2 entries for 'AL'
----------------------
    last_name first_name   birthday gender type state       party
912   Crowell       John 1780-09-18      M  rep    AL  Republican
991    Walker       John 1783-08-12      M  sen    AL  Republican

First2 entries for 'AR'
----------------------
     last_name first_name   birthday gender type state party
1001     Bates      James 1788-08-25      M  rep    AR   NaN
1279    Conway      Henry 1793-03-18      M  rep    AR   NaN

First2 entries for 'AS'
----------------------
          last_name first_name   birthday gender type state     party
10797         Sunia       Fofó 1937-03-13      M  rep    AS  Democrat
11755  Faleomavaega        Eni 1943-08-15      M  rep    AS  Democrat

First2 entries for 'AZ'
----------------------
     last_name first_name   birthday gender type state       party
3674    Poston    Charles 1825-04-20      M  rep    AZ  Republican
3725   Goodwin       John 1824-10-18      M  rep    AZ  Republican

First2 entries for 'CA'
----------------------
     last_name first_name   birthday gender type state        party
2650   Gilbert     Edward        NaT      M  rep    CA     Democrat
2742    Wright     George 1816-06-04      M  rep    CA  Independent

First2 entries for 'CO'
----------------------
     last_name first_name   birthday gender type state  \
3614    Bennet      Hiram 1826-09-02      M  rep    CO
3933  Bradford      Allen 1815-07-23      M  rep    CO

                        party
3614  Conservative Republican
3933               Republican

First2 entries for 'CT'
----------------------
     last_name first_name   birthday gender type state               party
14  Huntington   Benjamin 1736-04-19      M  rep    CT                 NaN
16     Johnson    William 1727-10-07      M  sen    CT  Pro-Administration

First2 entries for 'DC'
----------------------
      last_name first_name   birthday gender type state       party
4232    Chipman     Norton 1834-03-07      M  rep    DC  Republican
10821  Fauntroy     Walter 1933-02-06      M  rep    DC    Democrat

First2 entries for 'DE'
----------------------
   last_name first_name   birthday gender type state                party
0    Bassett    Richard 1745-04-02      M  sen    DE  Anti-Administration
40      Read     George 1733-09-18      M  sen    DE                  NaN

First2 entries for 'DK'
----------------------
     last_name first_name   birthday gender type state     party
3642     Jayne    William 1826-10-08      M  rep    DK       NaN
3687      Todd       John 1814-04-04      M  rep    DK  Democrat

First2 entries for 'FL'
----------------------
      last_name first_name   birthday gender type state party
1031  Hernández     Joseph 1788-05-26      M  rep    FL   NaN
1090       Call    Richard 1792-10-24      M  rep    FL   NaN

First2 entries for 'GA'
----------------------
   last_name first_name   birthday gender type state                party
8        Few    William 1748-06-08      M  sen    GA  Anti-Administration
20   Mathews     George 1739-08-30      M  rep    GA                  NaN

First2 entries for 'GU'
----------------------
      last_name first_name   birthday gender type state       party
10704   Won Pat    Antonio 1908-12-10      M  rep    GU    Democrat
10874      Blaz        Ben 1928-02-14      M  rep    GU  Republican

First2 entries for 'HI'
----------------------
     last_name first_name   birthday gender type state       party
6395    Wilcox     Robert 1855-02-15      M  rep    HI         NaN
7524   Baldwin      Henry 1871-01-12      M  rep    HI  Republican

First2 entries for 'IA'
----------------------
     last_name first_name   birthday gender type state     party
1931   Chapman    William 1808-08-11      M  rep    IA  Democrat
2391  Hastings   Serranus 1813-11-22      M  rep    IA  Democrat

First2 entries for 'ID'
----------------------
     last_name first_name   birthday gender type state       party
3693   Wallace    William 1811-07-19      M  rep    ID  Republican
3846  Holbrook     Edward 1836-05-06      M  rep    ID    Democrat

First2 entries for 'IL'
----------------------
      last_name first_name   birthday gender type state party
595        Bond   Shadrack 1773-11-24      M  rep    IL   NaN
772  Stephenson   Benjamin        NaT      M  rep    IL   NaN

First2 entries for 'IN'
----------------------
    last_name first_name   birthday gender type state       party
431     Parke   Benjamin 1777-09-22      M  rep    IN         NaN
985    Taylor     Waller        NaT      M  sen    IN  Republican

First2 entries for 'KS'
----------------------
      last_name first_name   birthday gender type state       party
3163  Whitfield       John 1818-03-11      M  rep    KS    Democrat
3422    Parrott     Marcus 1828-10-27      M  rep    KS  Republican

First2 entries for 'KY'
----------------------
    last_name   first_name birthday gender type state                party
55    Edwards         John      NaT      M  sen    KY  Anti-Administration
113   Greenup  Christopher      NaT      M  rep    KY           Republican

First2 entries for 'LA'
----------------------
     last_name first_name birthday gender type state       party
584  Destréhan       Jean      NaT      M  sen    LA     Unknown
585   Magruder      Allan      NaT      M  sen    LA  Republican

First2 entries for 'MA'
----------------------
   last_name first_name   birthday gender type state               party
6     Dalton   Tristram 1738-05-28      M  sen    MA  Pro-Administration
12     Grout   Jonathan 1737-07-23      M  rep    MA                 NaN

First2 entries for 'MD'
----------------------
  last_name first_name   birthday gender type state party
3   Carroll     Daniel 1730-07-22      M  rep    MD   NaN
5    Contee   Benjamin        NaT      M  rep    MD   NaN

First2 entries for 'ME'
----------------------
     last_name first_name   birthday gender type state       party
1019      Dane     Joseph 1778-10-25      M  rep    ME  Federalist
1029    Harris       Mark 1779-01-27      M  rep    ME  Republican

First2 entries for 'MI'
----------------------
     last_name first_name   birthday gender type state party
1062    Sibley    Solomon 1769-10-07      M  rep    MI   NaN
1133   Richard    Gabriel 1767-10-15      M  rep    MI   NaN

First2 entries for 'MN'
----------------------
      last_name first_name   birthday gender type state     party
2866     Sibley      Henry 1811-02-20      M  rep    MN       NaN
3241  Kingsbury    William 1828-06-04      M  rep    MN  Democrat

First2 entries for 'MO'
----------------------
     last_name first_name   birthday gender type state party
627  Hempstead     Edward 1780-06-03      M  rep    MO   NaN
712     Easton      Rufus 1774-05-04      M  rep    MO   NaN

First2 entries for 'MS'
----------------------
    last_name  first_name   birthday gender type state party
256    Greene      Thomas 1758-02-26      M  rep    MS   NaN
260    Hunter  Narsworthy        NaT      M  rep    MS   NaN

First2 entries for 'MT'
----------------------
      last_name first_name   birthday gender type state     party
3756     McLean     Samuel 1826-08-07      M  rep    MT  Democrat
3941  Cavanaugh      James 1823-07-04      M  rep    MT  Democrat

First2 entries for 'NC'
----------------------
   last_name first_name   birthday gender type state               party
13   Hawkins   Benjamin 1754-08-15      M  sen    NC  Pro-Administration
17  Johnston     Samuel 1733-12-15      M  sen    NC  Pro-Administration

First2 entries for 'ND'
----------------------
     last_name first_name   birthday gender type state       party
5384     Casey      Lyman 1837-05-06      M  sen    ND  Republican
5479    Pierce    Gilbert 1839-01-11      M  sen    ND  Republican

First2 entries for 'NE'
----------------------
     last_name first_name   birthday gender type state     party
2954  Giddings   Napoleon 1816-01-02      M  rep    NE  Democrat
3068   Chapman       Bird 1821-08-24      M  rep    NE  Democrat

First2 entries for 'NH'
----------------------
    last_name first_name   birthday gender type state       party
99    Wingate      Paine 1739-05-14      M  rep    NH         NaN
120   Langdon       John 1741-06-26      M  sen    NH  Republican

First2 entries for 'NJ'
----------------------
   last_name first_name   birthday gender type state               party
7      Elmer   Jonathan 1745-11-29      M  sen    NJ  Pro-Administration
23  Paterson    William 1745-12-24      M  sen    NJ  Pro-Administration

First2 entries for 'NM'
----------------------
      last_name first_name   birthday gender type state     party
2885  Weightman    Richard 1816-12-28      M  rep    NM  Democrat
3420      Otero     Miguel 1829-06-21      M  rep    NM       NaN

First2 entries for 'NV'
----------------------
        last_name first_name   birthday gender type state       party
3510  Cradlebaugh       John 1819-02-22      M  rep    NV         NaN
3664         Mott     Gordon 1812-10-21      M  rep    NV  Republican

First2 entries for 'NY'
----------------------
         last_name first_name   birthday gender type state party
9            Floyd    William 1734-12-17      M  rep    NY   NaN
26  Van Rensselaer   Jeremiah 1738-08-27      M  rep    NY   NaN

First2 entries for 'OH'
----------------------
    last_name first_name   birthday gender type state       party
226  McMillan    William 1764-03-02      M  rep    OH         NaN
254   Fearing       Paul 1762-02-28      M  rep    OH  Federalist

First2 entries for 'OK'
----------------------
     last_name first_name   birthday gender type state        party
5601    Harvey      David 1845-03-20      M  rep    OK   Republican
6060  Callahan      James 1852-12-19      M  rep    OK  Free Silver

First2 entries for 'OL'
----------------------
    last_name first_name   birthday gender type state party
404     Clark     Daniel        NaT      M  rep    OL   NaN
503   Poydras     Julien 1740-04-03      M  rep    OL   NaN

First2 entries for 'OR'
----------------------
     last_name first_name   birthday gender type state     party
2728  Thurston     Samuel 1816-04-15      M  rep    OR  Democrat
3398      Lane     Joseph 1801-12-14      M  sen    OR  Democrat

First2 entries for 'PA'
----------------------
   last_name first_name   birthday gender type state                party
4     Clymer     George 1739-03-16      M  rep    PA                  NaN
19    Maclay    William 1737-07-20      M  sen    PA  Anti-Administration

First2 entries for 'PI'
----------------------
             last_name first_name   birthday gender type state party
6835            Ocampo      Pablo 1853-01-25      M  rep    PI   NaN
6939  Legarda Y Tuason     Benito 1853-09-27      M  rep    PI   NaN

First2 entries for 'PR'
----------------------
      last_name first_name   birthday gender type state       party
6426    Degetau   Federico 1862-12-05      M  rep    PR  Republican
6811  Larrinaga      Tulio 1847-01-15      M  rep    PR    Unionist

First2 entries for 'RI'
----------------------
    last_name first_name   birthday gender type state       party
61   Bradford    William 1729-11-04      M  sen    RI  Federalist
105    Bourne   Benjamin 1755-09-09      M  rep    RI  Federalist

First2 entries for 'SC'
----------------------
   last_name first_name   birthday gender type state               party
2      Burke    Aedanus 1743-06-16      M  rep    SC                 NaN
15     Izard      Ralph        NaT      M  sen    SC  Pro-Administration

First2 entries for 'SD'
----------------------
     last_name first_name   birthday gender type state       party
5423   Gifford      Oscar 1842-10-20      M  rep    SD  Republican
5462     Moody     Gideon 1832-10-16      M  sen    SD  Republican

First2 entries for 'TN'
----------------------
    last_name first_name   birthday gender type state       party
141     White      James 1749-06-16      M  rep    TN         NaN
142    Blount    William 1749-03-26      M  sen    TN  Republican

First2 entries for 'TX'
----------------------
     last_name first_name   birthday gender type state     party
2568  Pilsbury    Timothy 1789-04-12      M  rep    TX  Democrat
2671   Kaufman      David 1813-12-18      M  rep    TX  Democrat

First2 entries for 'UT'
----------------------
      last_name first_name   birthday gender type state     party
3484  Bernhisel       John 1799-07-23      M  rep    UT      Whig
3647     Kinney       John 1816-04-02      M  rep    UT  Democrat

First2 entries for 'VA'
----------------------
   last_name  first_name   birthday gender type state                party
1      Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
11   Grayson     William        NaT      M  sen    VA  Anti-Administration

First2 entries for 'VI'
----------------------
      last_name first_name   birthday gender type state       party
10496     Evans     Melvin 1917-08-07      M  rep    VI  Republican
11088   de Lugo        Ron 1930-08-02      M  rep    VI    Democrat

First2 entries for 'VT'
----------------------
   last_name first_name   birthday gender type state                party
41  Robinson      Moses 1741-03-22      M  sen    VT  Anti-Administration
86     Niles  Nathaniel 1741-04-03      M  rep    VT                  NaN

First2 entries for 'WA'
----------------------
      last_name first_name   birthday gender type state     party
2979  Lancaster   Columbia 1803-08-26      M  rep    WA  Democrat
3052   Anderson      James 1822-02-16      M  rep    WA  Democrat

First2 entries for 'WI'
----------------------
     last_name first_name   birthday gender type state     party
2410    Martin     Morgan 1805-03-31      M  rep    WI  Democrat
2503   Darling      Mason 1801-05-18      M  rep    WI  Democrat

First2 entries for 'WV'
----------------------
       last_name first_name   birthday gender type state  \
3615       Blair      Jacob 1821-04-11      M  rep    WV
3690  Van Winkle      Peter 1808-09-07      M  sen    WV

                       party
3615  Unconditional Unionist
3690              Republican

First2 entries for 'WY'
----------------------
     last_name first_name   birthday gender type state       party
4009  Nuckolls    Stephen 1825-08-16      M  rep    WY    Democrat
4138     Jones    William 1842-02-20      M  rep    WY  Republican

In [15]:
by_state.groups['AK']

Index([ 6619,  6647,  7442,  7501,  8039,  8236,  8877,  9819,  9951,  9985,
       10082, 10108, 10325, 11262, 11386, 11734],
      dtype='int64')

In [16]:
by_state.get_group('AK')

        last_name first_name   birthday gender type state        party
6619       Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6647         Cale     Thomas 1848-09-17      M  rep    AK  Independent
7442      Grigsby     George 1874-12-02      M  rep    AK          NaN
7501       Sulzer    Charles 1879-02-24      M  rep    AK          NaN
8039   Sutherland     Daniel 1869-04-17      M  rep    AK   Republican
8236   Wickersham      James 1857-08-24      M  rep    AK   Republican
8877       Dimond    Anthony 1881-11-30      M  rep    AK     Democrat
9819     Gruening     Ernest 1887-02-06      M  sen    AK     Democrat
9951       Rivers      Ralph 1903-05-23      M  rep    AK     Democrat
9985     Bartlett     Edward 1904-04-20      M  sen    AK     Democrat
10082     Pollock     Howard 1920-04-11      M  rep    AK   Republican
10108      Begich   Nicholas 1932-04-06      M  rep    AK     Democrat
10325      Gravel    Maurice 1930-05-13      M  sen    AK     Democrat
11262   Murkowski      Frank 1933-03-28      M  sen    AK   Republican
11386     Stevens        Ted 1923-11-18      M  sen    AK   Republican
11734      Begich       Mark 1962-03-30      M  sen    AK     Democrat

In [17]:
type(by_state.get_group('AK'))

pandas.core.frame.DataFrame

In [18]:
state, frame = next(iter(by_state))
state

'AK'

In [19]:
frame

        last_name first_name   birthday gender type state        party
6619       Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6647         Cale     Thomas 1848-09-17      M  rep    AK  Independent
7442      Grigsby     George 1874-12-02      M  rep    AK          NaN
7501       Sulzer    Charles 1879-02-24      M  rep    AK          NaN
8039   Sutherland     Daniel 1869-04-17      M  rep    AK   Republican
8236   Wickersham      James 1857-08-24      M  rep    AK   Republican
8877       Dimond    Anthony 1881-11-30      M  rep    AK     Democrat
9819     Gruening     Ernest 1887-02-06      M  sen    AK     Democrat
9951       Rivers      Ralph 1903-05-23      M  rep    AK     Democrat
9985     Bartlett     Edward 1904-04-20      M  sen    AK     Democrat
10082     Pollock     Howard 1920-04-11      M  rep    AK   Republican
10108      Begich   Nicholas 1932-04-06      M  rep    AK     Democrat
10325      Gravel    Maurice 1930-05-13      M  sen    AK     Democrat
11262   Murkowski      Frank 1933-03-28      M  sen    AK   Republican
11386     Stevens        Ted 1923-11-18      M  sen    AK   Republican
11734      Begich       Mark 1962-03-30      M  sen    AK     Democrat

In [22]:
next(iter(range(3)))

0

In [27]:
df = pd.read_csv(
    "./data/airqual.csv",
    parse_dates=[["Date", "Time"]],
    na_values=[-200],
    usecols=["Date", "Time", "CO(GT)", "T", "RH", "AH"]
).rename(
    columns={
        "CO(GT)": "co",
        "Date_Time": "tstamp",
        "T": "temp_c",
        "RH": "rel_hum",
        "AH": "abs_hum",
    }
).set_index("tstamp")

/tmp/ipykernel_7775/1231662992.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(

In [28]:
df

                      co  temp_c  rel_hum  abs_hum
tstamp
2004-03-10 18:00:00  2.6    13.6     48.9   0.7578
2004-03-10 19:00:00  2.0    13.3     47.7   0.7255
2004-03-10 20:00:00  2.2    11.9     54.0   0.7502
2004-03-10 21:00:00  2.2    11.0     60.0   0.7867
2004-03-10 22:00:00  1.6    11.2     59.6   0.7888
...                  ...     ...      ...      ...
2005-04-04 10:00:00  3.1    21.9     29.3   0.7568
2005-04-04 11:00:00  2.4    24.3     23.7   0.7119
2005-04-04 12:00:00  2.4    26.9     18.3   0.6406
2005-04-04 13:00:00  2.1    28.3     13.5   0.5139
2005-04-04 14:00:00  2.2    28.5     13.1   0.5028

[9357 rows x 4 columns]

In [30]:
df.index.min()

Timestamp('2004-03-10 18:00:00')

In [31]:
df.index.day_name()

Index(['Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Thursday', 'Thursday', 'Thursday', 'Thursday',
       ...
       'Monday', 'Monday', 'Monday', 'Monday', 'Monday', 'Monday', 'Monday',
       'Monday', 'Monday', 'Monday'],
      dtype='object', name='tstamp', length=9357)

In [32]:
df.groupby(df.index.day_name())['co'].mean()

tstamp
Friday       2.543041
Monday       2.016741
Saturday     1.861077
Sunday       1.438069
Thursday     2.455505
Tuesday      2.382267
Wednesday    2.400787
Name: co, dtype: float64

In [33]:
df.groupby([df.index.day_name(),
            df.index.hour])['co'].mean()

tstamp     tstamp
Friday     0         1.936170
           1         1.608511
           2         1.172340
           3         0.887234
           4         0.823333
                       ...
Wednesday  19        4.146809
           20        3.844681
           21        2.897872
           22        2.102128
           23        1.938298
Name: co, Length: 168, dtype: float64

In [34]:
df

                      co  temp_c  rel_hum  abs_hum
tstamp
2004-03-10 18:00:00  2.6    13.6     48.9   0.7578
2004-03-10 19:00:00  2.0    13.3     47.7   0.7255
2004-03-10 20:00:00  2.2    11.9     54.0   0.7502
2004-03-10 21:00:00  2.2    11.0     60.0   0.7867
2004-03-10 22:00:00  1.6    11.2     59.6   0.7888
...                  ...     ...      ...      ...
2005-04-04 10:00:00  3.1    21.9     29.3   0.7568
2005-04-04 11:00:00  2.4    24.3     23.7   0.7119
2005-04-04 12:00:00  2.4    26.9     18.3   0.6406
2005-04-04 13:00:00  2.1    28.3     13.5   0.5139
2005-04-04 14:00:00  2.2    28.5     13.1   0.5028

[9357 rows x 4 columns]

In [36]:
bins = pd.cut(df['temp_c'], bins=3, labels=('cool', 'warm', 'hot'))
df[['rel_hum', 'abs_hum']].groupby(bins).agg(['mean', 'median'])

          rel_hum          abs_hum
             mean median      mean  median
temp_c
cool    57.651452   59.2  0.665874  0.6581
warm    49.382716   49.3  1.182894  1.1452
hot     24.994334   24.1  1.292958  1.2742

In [37]:
bins

tstamp
2004-03-10 18:00:00    cool
2004-03-10 19:00:00    cool
2004-03-10 20:00:00    cool
2004-03-10 21:00:00    cool
2004-03-10 22:00:00    cool
                       ...
2005-04-04 10:00:00    warm
2005-04-04 11:00:00    warm
2005-04-04 12:00:00    warm
2005-04-04 13:00:00    warm
2005-04-04 14:00:00    warm
Name: temp_c, Length: 9357, dtype: category
Categories (3, object): ['cool' < 'warm' < 'hot']

In [38]:
bins.tolist()

['cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'hot',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 nan,
 nan,
 nan,
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'cool',
 'warm',
 'warm',
 ...]

In [39]:
df.groupby([df.index.year, df.index.quarter])['co'].agg(
    ['max', 'min']
)

                max  min
tstamp tstamp
2004   1        8.1  0.3
       2        7.3  0.1
       3        7.5  0.1
       4       11.9  0.1
2005   1        8.7  0.1
       2        5.0  0.3

In [42]:
df.resample('Q')['co'].agg(['max', 'min'])

             max  min
tstamp
2004-03-31   8.1  0.3
2004-06-30   7.3  0.1
2004-09-30   7.5  0.1
2004-12-31  11.9  0.1
2005-03-31   8.7  0.1
2005-06-30   5.0  0.3

In [44]:
def parse_millisecond_timestamp(ts):
    """Convert ms since Unix epoch to UTC datetime instance."""
    return pd.to_datetime(ts, unit="ms")

df = pd.read_csv(
    "./data/news.csv",
    sep="\t",
    header=None,
    index_col=0,
    names=["title", "url", "outlet", "category", "cluster", "host", "tstamp"],
    parse_dates=["tstamp"],
    date_parser=parse_millisecond_timestamp,
    dtype={
        "outlet": "category",
        "category": "category",
        "cluster": "category",
        "host": "category",
    },
)

/tmp/ipykernel_7775/4270963077.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(

In [45]:
df

,title,url,outlet,category,cluster,host,tstamp
1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,2014-03-10 16:52:50.698
2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,2014-03-10 16:52:51.207
3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,2014-03-10 16:52:51.550
4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,2014-03-10 16:52:51.793
5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,2014-03-10 16:52:52.027
...,...,...,...,...,...,...,...
422933,Surgeons to remove 4-year-old's rib to rebuild...,http://www.cbs3springfield.com/story/26378648/...,WSHM-TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.cbs3springfield.com,2014-08-28 12:33:10.251
422934,Boy to have surgery on esophagus after battery...,http://www.wlwt.com/news/boy-to-have-surgery-o...,WLWT Cincinnati,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wlwt.com,2014-08-28 12:33:10.508
422935,Child who swallowed battery to have reconstruc...,http://www.newsnet5.com/news/local-news/child-...,NewsNet5.com,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.newsnet5.com,2014-08-28 12:33:10.771
422936,Phoenix boy undergoes surgery to repair throat...,http://www.wfsb.com/story/26368078/phoenix-boy...,WFSB,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wfsb.com,2014-08-28 12:33:11.071
422937,Phoenix boy undergoes surgery to repair throat...,http://www.cbs3springfield.com/story/26368078/...,WSHM-TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.cbs3springfield.com,2014-08-28 12:33:11.565

In [46]:
df.columns

Index(['title', 'url', 'outlet', 'category', 'cluster', 'host', 'tstamp'], dtype='object')